@using RentACar.EntityLayer.Concrete
@model List<AboutUs>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayoutContoller/Index.cshtml";
}
<br />
<br />
<br />
<table class="table table-bordered">
    <thead class="text-dark fs-12">
        <tr>
            <th>
                #
            </th>
            <th >
               Başlık
            </th>
            <th >
                İçerik
            </th>
            <th>
                Resim Url
            </th>
            <th>
                Güncelle
            </th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="border-bottom-0"><h6 class="fw-semibold mb-0">@item.AboutUsID</h6></td>
                <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-1">@item.AboutUsTitle</h6>
                </td>
                <td class="border-bottom-0">
                    <p class="mb-0 fw-normal">@item.AboutUsDescription</p>
                </td>
                <td class="border-bottom-0">
                    <div class="d-flex align-items-center gap-2">
                        <span class="badge bg-primary rounded-3 fw-semibold">@item.AboutUsImageUrl</span>
                    </div>
                </td>
                <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-0 fs-4"><a href="/AboutUs/UpdateAboutUs/@item.AboutUsID" class="btn btn-outline-warning">Güncelle</a></h6>
                </td>
            </tr>
        }
       
    </tbody>
</table>

