@model List<RentACar.EntityLayer.Concrete.AppRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayoutContoller/Index.cshtml";
}

<br />
<br />
<br />
<table class="table table-bordered">
    <thead class="text-dark fs-12">
        <tr>
            <th>
                #
            </th>
            <th>
                Rol Adı
            </th>
            <th>
                Sil
            </th>
            <th>
                Güncelle
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="border-bottom-0"><h6 class="fw-semibold mb-0">@item.Id</h6></td>
                <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-1">@item.Name</h6>
                </td>
                <td class="border-bottom-0">
                    <a href="/Role/DeleteRole/@item.Id" class="btn btn-outline-danger">Sil</a>
                </td>
                <td class="border-bottom-0">
                    <a href="/Role/UpdateRole/@item.Id" class="btn btn-outline-warning">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<a href="/Role/AddRole/" class="btn btn-outline-success">Rol Ekle</a>

