@model List<RentACar.EntityLayer.Concrete.CarTransmission>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayoutContoller/Index.cshtml";
}



<br />
<br />
<br />
<table class="table table-bordered">
    <thead class="text-dark fs-12">
        <tr>
            <th>
                #
            </th>
            <th>
                Vites
            </th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="border-bottom-0"><h6 class="fw-semibold mb-0">@item.CarTransmissionID</h6></td>
                <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-1">@item.CarTransmissionName</h6>
                </td>
               
            </tr>
        }


    </tbody>


</table>

