@model List<RentACar.EntityLayer.Concrete.ContactMe>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayoutContoller/Index.cshtml";
}

<br />
<br />
<br />
<table class="table table-bordered">
    <thead class="text-dark fs-12">
        <tr>
            <th>
                #
            </th>
            <th>
                Başlık
            </th>
            <th>
                Güncelle
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="border-bottom-0"><h6 class="fw-semibold mb-0">@item.ContactMeID</h6></td>
                <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-1">@item.ContactMeTitle</h6>
                </td>
                <td class="border-bottom-0">
                    <p class="mb-0 fw-normal">@item.ContactMeImageUrl</p>
                </td>
                <td>
                    <a href="/ContactMe/UpdateContactMe/@item.ContactMeID" class="btn btn-outline-warning">Güncelle</a>
                </td>
            </tr>
        }


    </tbody>

</table>


