<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modernize Free</title>
    <link rel="shortcut icon" type="~/modernize-1.0.0/src/images/png" href="~/modernize-1.0.0/src/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/modernize-1.0.0/src/assets/css/styles.min.css" />
</head>