@model RentACar.EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/AdminLayoutContoller/Index.cshtml";
}


<br />
<br />
<br />
<div class="card">
    <div class="card-body">
        <form method="post">
            <div class="mb-3">
                <label class="form-label">Başlık</label>
                <input type="text" class="form-control" asp-for="ServiceTitle">
            </div>
            <div class="mb-3">
                <label class="form-label">MEslek</label>
                <input type="text" class="form-control" asp-for="ServiceDescription">
            </div>
            <div class="mb-3">
                <label class="form-label">Resim Url</label>
                <input type="text" class="form-control" asp-for="ServiceImageUrl">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


