@model List<RentACar.EntityLayer.Concrete.Service>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayoutContoller/Index.cshtml";
}


<br />
<br />
<br />
<table class="table table-bordered">
    <thead class="text-dark fs-12">
        <tr>
            <th>
                #
            </th>
            <th>
                Başlık
            </th>
            <th>
                İçerik
            </th>
            <th>
                İkon
            </th>
            <th>
                Sil
            </th>
            <th>
                Güncelle
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="border-bottom-0"><h6 class="fw-semibold mb-0">@item.ServiceID</h6></td>
                <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-1">@item.ServiceTitle</h6>
                </td>
                <td class="border-bottom-0">
                    <h6 class="mb-0 fw-normal">@item.ServiceDescription</h6>
                </td>
                <td class="border-bottom-0">
                    <h6 class="mb-0 fw-normal">@item.ServiceImageUrl</h6>
                </td>
                <td class="border-bottom-0">
                    <a href="/Service/DeleteService/@item.ServiceID" class="btn btn-outline-danger">Sil</a>
                </td>
                <td class="border-bottom-0">
                    <a href="/Service/UpdateService/@item.ServiceID" class="btn btn-outline-warning">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<a href="/Service/AddService/" class="btn btn-outline-primary">Ekle</a>


