@model RentACar.EntityLayer.Concrete.CarFeature
@{
    ViewData["Title"] = "UpdateCarFeature";
    Layout = "~/Views/AdminLayoutContoller/Index.cshtml";
}
<br />
<br />
<br />
<div class="card">
    <div class="card-body">
        <form method="post">
            <input type="hidden" asp-for="CarFeatureID" />
            <div class="mb-3">
                <label class="form-label">Başlık</label>
                <input type="text" class="form-control" asp-for="CarFeatureName">

            </div>
            <button type="submit" class="btn btn-primary">Güncelle</button>
        </form>
    </div>
</div>

